@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
dark 
bg slate 800





*/

body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@layer{
  body{
    @apply bg-white dark:bg-slate-800
  }
}